<nav class="sidebar">
  <ul>
    <li><span class="user-info">Welcome, {{ user?.fullName }}</span></li>
    <ng-container *ngFor="let item of menuItems">
  <li *ngIf="hasAccess(item.roles)">

      <!-- Main Menu -->
      <div
        class="menu-item"
        (click)="item.children ? toggleMenu(item.label) : null"
        [routerLink]="!item.children ? item.route : null"
        routerLinkActive="active"
      >
        <span class="icon">{{ item.icon }}</span>
        <span>{{ item.label }}</span>
        <span class="arrow" *ngIf="item.children">
          {{ expandedMenu === item.label ? '▾' : '▸' }}
        </span>
      </div>

      <!-- Sub Menu -->
      <ul class="submenu" *ngIf="item.children && expandedMenu === item.label">
        <li *ngFor="let sub of item.children" routerLinkActive="active">
          <a [routerLink]="sub.route">{{ sub.label }}</a>
        </li>
      </ul>

    </li>
    </ng-container>
  </ul>
   <span class="spacer"></span>
    <li>
       <button class="logout-btn" (click)="logout()">
          Logout
        </button>
    </li>
</nav>
