<h3>Product List</h3>

<table border="1" width="100%" *ngIf="products.length > 0">
  <thead>
    <tr>
      <th hidden>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th *ngIf="user?.RoleName === 'Buyer'">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of products">
    <td hidden>{{ p.productId }}</td>
      <td>{{ p.productName }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.stockQuantity }}</td>
      <td *ngIf="user?.RoleName === 'Buyer'">
        <button
          (click)="addToCart(p)"
          [disabled]="p.stockQuantity <= 0"
        >
          Add to Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="products.length === 0">
  No products found
</p>
